################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sportstrackerdemo/.vs/Sportstrackerdemo
/Sportstrackerdemo/Sportstrackerdemo/bin/Debug/netcoreapp2.2
/Sportstrackerdemo/Sportstrackerdemo/obj
