@{
    ViewData["Title"] = "Kuvat";
}
<h1>@ViewData["Title"]</h1>

<h1>Tässä kuvia reittien varrelta</h1>
<h4>Voit klikata kuvaa avataksesi sen isompana uuteen ikkunaan</h4>

<div class="container">

    <img src="~/img/murskaamo.jpg" height="300" onclick="window.open('/img/murskaamo.jpg', '_blank')">
    <img src="~/img/maki.jpg" height="300" onclick="window.open('/img/maki.jpg', '_blank')">
    <p>&nbsp;</p>
    <img src="~/img/fillari.jpeg" height="300" onclick="window.open('/img/fillari.jpeg', '_blank')">
    <img src="~/img/kuva1.jpg" height="300" onclick="window.open('/img/kuva1.jpg', '_blank')">
    <img src="~/img/kuva4.jpg" height="300" onclick="window.open('/img/kuva4.jpg', '_blank')">
    <img src="~/img/kuva5.jpg" height="300" onclick="window.open('/img/kuva5.jpg', '_blank')">
    <img src="~/img/kuva6.jpg" height="300" onclick="window.open('/img/kuva6.jpg', '_blank')">
    <img src="~/img/kuva7.jpg" height="300" onclick="window.open('/img/kuva7.jpg', '_blank')">
    <img src="~/img/kuva8.jpg" height="300" onclick="window.open('/img/kuva8.jpg', '_blank')">
    <img src="~/img/kuva9.jpg" height="300" onclick="window.open('/img/kuva9.jpg', '_blank')">
    <img src="~/img/kuva10.jpg" height="300" onclick="window.open('/img/kuva10.jpg', '_blank')">
    <img src="~/img/kuva11.jpg" height="300" onclick="window.open('/img/kuva11.jpg', '_blank')">
    <img src="~/img/kuva12.jpg" height="300" onclick="window.open('/img/kuva12.jpg', '_blank')">
    <img src="~/img/kuva13.jpg" height="300" onclick="window.open('/img/kuva13.jpg', '_blank')">
    <img src="~/img/kuva14.jpg" height="300" onclick="window.open('/img/kuva14.jpg', '_blank')">
    <img src="~/img/kuva15.jpg" height="300" onclick="window.open('/img/kuva15.jpg', '_blank')">
    <img src="~/img/kuva16.jpg" height="300" onclick="window.open('/img/kuva16.jpg', '_blank')">
    <img src="~/img/kuva18.jpg" height="300" onclick="window.open('/img/kuva18.jpg', '_blank')">
    <img src="~/img/kuva19.jpg" height="300" onclick="window.open('/img/kuva19.jpg', '_blank')">
    <p>&nbsp;</p>
    <img src="~/img/kuva17_v.jpg" height="300" onclick="window.open('/img/kuva17_v.jpg', '_blank')">

</div>