@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Tämä demo on tehty Code Bootcam kurssilla. Sovellus lukee Sportstracker palvelimelta 
    txt tiedostoon talletettua dataa ja luo siitä erilaisia taulukoita dynaamisesti.<p/>

<p>Home sivulla näytetään ensin yhteenvetoa vuosittaina ja sen jälkeen
    kaikki tiedostosta löytyvät harjoitukset siinä järjestyksessä kuin 
    ne tiedostossa ovat eli uusimmasta vanhimpaan.</p>

<p>Sivulla "Reitit yhteenveto" näytetään jokaisesta tiedostosta löytyvältä reitiltä enintään
    5 viimesintä  ja 5 nopeinta harjoitusta sekä näytetään keskiarvoja. Lisäksi näytetään karttakuva
    reitistä, jos se löytyy.</p>

<p>
    Sivulla "Harjoitukset reiteittäin" näytetään jokaisen reitin yhteenveto vuosittaina sekä
    kaikki harjoitukset siinä järjestyksessä kuin ne tiedostossa ovat eli aikajärjestyksessä
    uusimmasta vanhimpaan. Lisäksi näytetään summia ja keskiarvoja. Lisäksi näytetään karttakuva
    reitistä, jos se löytyy.</p>

<p>Kuvat sivulla on kuvia rettien varrelta</p>

<p>Raadata sivulla näkee txt tiedoston sisällön eli sen mistä dataa luetaan.</p>
