@{
    ViewData["Title"] = "Raakadata";
}
<h1>@ViewData["Title"]</h1>

<h2>Tässä on raakadata, joka on kopiotu excelin kautta txt filuun. 
    Excelin kautta siksi, että siten siihen tulee mukaan rivinvaihdot.</h2>
<p><iframe width="700" height="1000" src="~/filut/straakadata.txt"></iframe></p>
